<div class="container">
  <footer id="footer" style="margin: 5em 0;">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="http://playdauntless.com" target="_blank">playdauntless.com</a>
          </li>
          <li class="list-inline-item">
            <a href="https://reddit.com/r/dauntless" target="_blank">/r/dauntless</a>
          </li>
          <li class="list-inline-item">
            <a href="https://discord.gg/dauntless" target="_blank">Dauntless Discord</a>
          </li>
          <li class="list-inline-item">
            <a href="https://dauntless.gamepedia.com/Dauntless_Wiki" target="_blank">Dauntless Wiki</a>
          </li>
        </ul>
        <p class="text-center">Made by
          <strong>fresh2k</strong>
          and
          <strong>Jaxw501</strong>.</p>
        <p class="text-center">
          <a class="bmc-button" href="https://www.buymeacoffee.com/osthoma" target="_blank">
            <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee">
            <span style="margin-left:5px">Buy me a coffee</span>
          </a>
        </p>
      </div>
    </div>

  </footer>
</div>