
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="http://www.playdauntless.com">playdauntless.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="http://www.reddit.com/r/dauntless">/r/dauntless</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://dauntless.gamepedia.com/Dauntless_Wiki">Dauntless Wiki</a>
        </li>
      </ul>
      <span class="navbar-text">
        Made by fresh2k and Jaxw501.
      </span>
    </div>
  </div>
</nav>
