{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <div class="alert alert-primary" role="alert">
    This tool is still in development!
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Welcome, Slayer!</h1>
    <p class="lead">Create and share your custom Dauntless builds!</p>
    <hr class="my-4">
    <div class = "row">
      <div class = "col-3">
        <div>Weapon</div>
        <select class="form-control form-control-sm">
          <option>Hammers</option>
          <option>Axes</option>
          <option>Swords</option>
          <option>Chain Blades</option>
          <option>War Pikes</option>
        </select>
        <select class="form-control form-control-sm">
          {% for weapon in weaponData %}
          {% for item in weapon['items'] %}
          {% if item.type == weaponType %}
          <option value="{{ item.id }}">{{ item.name }} ({{ weapon.name }})</option>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </select>
        <div>Lantern</div>
        <select class="form-control form-control-sm">
          {% for lantern in lanternData %}
          <option value="{{ lantern.id }}">{{ lantern.name }}</option>
          {% endfor %}
        </select>
        <div>Helmet</div>
        <select class="form-control form-control-sm">
          {% for boss in armorData %}
          {% if ('helmet' in boss) %}
          <option value="{{ boss.helmet.id }}">{{ boss.helmet.name }} ({{ boss.boss }})</option>
          {% endif %}
          {% endfor %}
        </select>
        <div>Chestplate</div>
        <select class="form-control form-control-sm">
          {% for boss in armorData %}
          {% if ('chestplate' in boss) %}
          <option value="{{ boss.chestplate.id }}">{{ boss.chestplate.name }} ({{ boss.boss }})</option>
          {% endif %}
          {% endfor %}
        </select>
        <div>Gauntlets</div>
        <select class="form-control form-control-sm">
          {% for boss in armorData %}
          {% if ('gloves' in boss) %}
          <option value="{{ boss.gloves.id }}">{{ boss.gloves.name }} ({{ boss.boss }})</option>
          {% endif %}
          {% endfor %}
        </select>
        <div>Greaves</div>
        <select class="form-control form-control-sm">
          {% for boss in armorData %}
          {% if ('greaves' in boss) %}
          <option value="{{ boss.greaves.id }}">{{ boss.greaves.name }} ({{ boss.boss }})</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class = "col-6">
      </div>
      <div class = "col-3">
      </div>
    </div>
  </div>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Link to your build:</span>
    </div>
    <input type="text" class="form-control" value="http://dauntlessbuilds.com/b=12345678" aria-describedby="inputGroup-sizing-sm">
  </div>
</div>


{% endblock %}
