<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>dauntlessbuilds.com</title>

    <link rel="shortcut icon" href="/static/assets/favicon.ico">

    <link rel="stylesheet" href="/static/assets/css/stylesheet.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/lato.css">

    <script defer="defer" src="/static/libs/jquery/jquery-3.3.1.js"></script>
    <script defer="defer" src="/static/libs/popper/popper.min.js"></script>
    <script defer="defer" src="/static/libs/bootstrap/bootstrap.min.js"></script>
    <script defer="defer" src="/static/libs/hashids/hashids.min.js"></script>
    <script defer="defer" src="/static/libs/clipboard/clipboard.min.js"></script>

    <script defer="defer" src="/static/assets/js/updatePage.js"></script>

  </head>

  <body>

    {% include 'includes/_navbar.html' %}
    {% block body %}{% endblock %}
    {% include 'includes/_footer.html' %}

  </body>

</html>
