<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>dauntlessbuilds.com</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/darkly/bootstrap.min.css">
<link rel="shortcut icon" href="../static/favicon.ico">
  <style>
  body {
    padding-top: 80px;
  }
</style>
</head>

<body>

  {% include 'includes/_navbar.html' %} {% block body %}{% endblock %}  {% include 'includes/_footer.html' %}

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/hashids.min.js"></script>
  <script src="../static/updatePage.js"></script>

</body>

</html>
